img {img-align: center; width: 800px;}
img {img-align: top; width: 200px;}
body {text-align: center; font-family: arial; background: rgb(107, 220, 16); color: purple; }
button {width: 50px; height: 20px; position: absolute; background-position: 100px}
